* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--off-white);
    font-family: "Questrial", sans-serif;
    font-size: 16px;
}

:root {
    --dark-gray: #2C3531;
    --teal-color: #116466;
    --light-blue: #D1E2E2;
    --light-tan: #FFCB9A;
    --dark-tan: #D9B08C;

    --off-white: #F1EFEC;
    --light-beige: #D4C9BE;
    --dark-blue: #123458;
    --deep-black: #030303;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    padding-top: 60px;
}

html, body {
    overflow-x: hidden;
}

section {
    margin: 3rem 0;
}


/* Header */

#my-name {
    font-size: 1.5rem;
}

.header {
    position: fixed;
    z-index: 2000;
    border-bottom: 2px solid var(--dark-blue);
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--off-white);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--deep-black);
}

.header .main-menu ul {
    display: flex;
}


.navbar .main-menu ul {
    display: flex;
    justify-content: space-evenly;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

/* Hamburger Button */

.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 2px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: var(--deep-black);
}

.hamburger-button.active .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-button.active .hamburger-line:nth-child(2) {
    opacity: 0;
}

.hamburger-button.active .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


/* Mobile Menu */

.mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    z-index: 999;
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: 0;
}

.mobile-menu.active {
    display: flex;
    max-height: 600px;
    background-color: var(--light-beige);
}

.mobile-menu ul {
    margin: 0;
    padding-right: 0;
    text-align: center;
}

.mobile-menu ul li {
    margin: 20px 0;
}

.mobile-menu.active ul li a {
    color: var(--dark-blue);
}

/* About Section */

.about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .container h2 {
    color: var(--dark-blue);
}

.hero-picture {
    width: 150px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
}

.hero-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.about .container p {
    text-align: center;
    color: var(--deep-black);
    margin: 1rem 0.5rem;
    padding: 0 0.25rem;
}

/* Projects Section */

.projects .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects .container h2 {
    color: var(--dark-blue);
}

.slide-show-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.project-slide {
    position: absolute;
    width: 100%;
    height: 475px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;

}

.project-slide.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 2;
}

.project-slide.exit {
    opacity: 0;
    transform: translateX(-100%);
    z-index: 1;
}

.project-slide.active .project-details {
    max-width: 90%;
    background: var(--light-beige);
    flex-direction: column;
    margin: 0.3rem;
    border-left: 3px solid var(--dark-blue);
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
    color: var(--deep-black);
    position: relative;
}

.project-slide.active .project-details h3 {
    font-size: 1rem;
    font-weight: 600;
}

.project-slide.active .project-details p {
    font-size: 0.85rem;
}

.project-slide.active .project-details button {
    cursor: pointer;
    font-size: 0.75rem;
    border: 2px solid var(--dark-blue);
    border-radius: 20px;
    margin-top: 0.25rem;
    padding: 0.65rem 1rem;
    background: var(--off-white);
    color: var(--deep-black);
}

.project-slide.active .project-details .tech-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
}

.tech-tag {
    font-size: 0.7rem;
    border-radius: 8px;
    background-color: var(--off-white);
    padding: 0.1rem 0.3rem;
}

.dot-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dot {
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background: var(--off-white);
    cursor: pointer;
    position: relative;
    display: inline-block;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.dot.active {
    background: var(--off-white);
    opacity: 1;
}

.dot.active::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.finance-tracker-slide {
   background-image: url("assets/images/mobile-personal-finance-tracker-screenshot.png");
}

.portfolio-slide {
    background-image: url("assets/images/mobile-portfolio-site.png");
}

/* Skills Section */

.skills .container {
    display: flex;
    flex-direction: column;
    color: var(--deep-black);
}

.skills .container h2 {
    color: var(--dark-blue);
}

.skills .container .card {
    display: flex;
    flex-direction: column;
    background-color: var(--light-beige);
    color: black;
    margin: 10px 0;
    border-left: 3px solid var(--dark-blue);
}

.skills .container .card h3 {
    width: 85%;
    border-bottom: 2px solid var(--dark-blue);
    margin: 5px 15px;
}

.skills .container .card ul {
    list-style: square;
    margin: 5px 25px;
    padding-left: 5px;
}

/* Development Journey Section */

.development-journey {
    background-color: var(--off-white);
}

.development-journey h2 {
    color: var(--dark-blue);
}

.development-journey .container p {
    padding-left: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--dark-blue);
    margin: 20px 0;
    padding-left: 0;
}

.card-container .card {
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
}

.card-container .card h3 {
    position: relative;
    padding-left: 2rem;
    margin-top: 0;
    padding-top: 0;
}

.card-container .card h3::before {
    content: "";
    position: absolute;
    left: calc(-1rem + 4px);
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 2px solid var(--dark-blue);
    border-radius: 50%;
    background-color: transparent;
}

.card-container .card h3::after {
    content: "";
    position: absolute;
    left: calc(-1rem + 10px);
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--dark-blue);
    border-radius: 50%;
}

.card-container .card p {
    padding-left: 10px;
    margin-left: 10px;
}

.card-container .card ul {
    list-style: square;
    margin: 5px 25px;
    padding-left: 5px;
}

.card-container .card ul li {
    padding-left: 10px;
    margin-left: 10px;
}

/* Education */

.education .container-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.education .container-sm .card {
    background-color: var(--dark-blue);
    border-left: 4px solid var(--light-beige);
    border-radius: 10px;
    color: var(--light-beige);
}

.education .container-sm h2 {
    color: var(--dark-blue);
}

/* Contact Section */

.contact{
    margin-top: 10px;
    padding-top: 10px;
    background-color: var(--off-white);
}

.contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact .container h2 {
    color: var(--dark-blue);
}

.contact .container p {
    margin: 0 0.5rem;
    padding: 0 0.25rem;
}


.contact-form {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    color: var(--light-beige);
    border-radius: 5px;
    margin-top: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--light-beige);
}

.contact-form textarea {
    height: 120px;
}

.contact-form .btn {
    background-color: var(--light-beige);
}

/* Connect Section */

.connect .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connect .container .card {
    background-color: var(--dark-blue);
    border-left: 3px solid var(--light-beige);
    border-radius: 10px;
    margin: 1rem 0;
    color: var(--light-beige);
    position: relative;
}

.connect .container h2 {
    color: var(--dark-blue);
}

.connect .container .card h3 {
    font-size: 1.2rem;
}

.social-icon {
    font-size: 2rem;
    margin-right: 1rem;
}



.card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-indent: -9999px;
}

/* Footer */

.footer {
    color: var(--light-beige);
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
    border-top: 1px solid var(--light-beige);
    background-color: var(--dark-blue);
}

.footer p {
    margin: 0;
}

/* FAB */


.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: var(--dark-blue); /* or any color you like */
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: none; /* Hidden by default */
    z-index: 3000;
    transition: opacity 0.3s ease;
}
.fab:hover {
    background-color: #008080; /* darker teal or accent */
}


/* Utility Classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.card {
    border-radius: 10px;
    padding: 20px;
}

.overlay {
    border-radius: 10px;
    z-index: 1000;
}

/* Text Classes */
.text-xxl {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.0rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.75rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 5px 0 10px;
}

.text-center {
    text-align: center;
}

/* Media Queries  */

@media (max-width: 670px) {
    .navbar .main-menu{
        display: none;
    }

    .navbar .hamburger-button {
        display:  block;
    }
}

@media (min-width: 1025px) {

    .text-lg {
        font-size: 1.75rem;
        line-height: 1.4;
        font-weight: 500;
        margin: 30px 0 20px;
    }

    .text-md {
        font-size: 1.2rem;
        line-height: 1.4;
        font-weight: normal;
        margin: 20px 0 10px;
    }

    .text-sm {
        font-size: 1rem;
    }

   .main-menu ul li a{
       color: var(--dark-blue);
   }

    .about .container h2 {
        color: var(--dark-blue);
        font-size: 1.75rem;
    }

    .hero-picture {
        width: 200px;
    }

    .about .container p {
        text-align: center;
        color: var(--deep-black);
        margin: 1rem 0.5rem;
        padding: 0 0.25rem;
        font-size: 1.2rem;
    }

    .projects .container h2 {
        font-size: 1.75rem;
    }

    .project-slide.active .project-details {
       margin: 1rem;
       padding: 0.5rem 0.75rem;

    }

    .project-slide.active .project-details h3 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .project-slide.active .project-details p {
        font-size: 1.2rem;
    }

    .project-slide.active .project-details button {
        font-size: 1rem;
    }

    .tech-tag {
        font-size: 1rem;
    }

    .finance-tracker-slide {
        background-image: url("assets/images/personal-finance-tracker-screenshot.png");
    }

    .portfolio-slide {
        background-image: url("assets/images/portfolio-site.png");
    }

    .skills .container {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        align-items: start;
    }

    .skills .text-center.text-xl {
        grid-column: 1 / -1;
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.75rem;
    }

    .skills .card {
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        height: 200px;
    }

    .development-journey .container h2 {
        font-size: 1.75rem;
    }

    .education .container-sm {
        width: 400px;
    }

    .education .container-sm h2 {
        font-size: 1.75rem;
    }

    .contact .container {
        width: 800px;
    }

    .contact .container h2 {
        font-size: 1.75rem;
    }

    .connect .container {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: start;
    }

    .connect .text-center.text-xl {
        grid-column: 1 / -1;
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.75rem;
    }

    .connect .card {
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);

    }
}


